* {
  font-family: Tahoma,Arial;
  font-size: 11px;
  margin: 0;
  padding: 0;
}
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.page{
  background: url("../images/start_bg.jpg") no-repeat scroll center center #890070;
  height: 100%;
  position: relative;
  width: 100%;
}
#login{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 244px;
  height: 124px;
  margin: -62px 0 0 -122px;
  background: #fff;
  -webkit-border-radius: 5px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius: 5px;
  -moz-border-radius-topleft: 20px;
  border-radius: 5px;
  border-top-left-radius: 20px;
  padding: 20px 0 0 20px;
}
#login .region-content{
  width: 236px;
}
.form-item,.form-actions{
  text-align: right;
  margin: 10px 0;
}
.form-text{
  background: none;
  border: 1px solid #ccc;
  background: #fff;
  border: 1px dotted #890070;
  padding: 4px;
  width: 121px;
}

.form-submit{
  background: #7F0165;
  border: none;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  zomm: 1;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  width: 131px;
}
.form-submit:hover{
  background: #AC0B8D;
}
.description{
  display: none;
}
#branding {
  left: -120px;
  position: absolute;
  top: -60px;
  width: 380px;
}
#branding span{
  display: block;
  float: left;
  height: 47px;
  margin: 0 10px 0 0;
}
#branding .cms{
  background: rgba(0, 0, 0, 0) url("../images/start-cms.png") no-repeat scroll 0 0;
  width: 108px;
}
#branding .drupal{
  background: rgba(0, 0, 0, 0) url("../images/start-edit.png") no-repeat scroll 0 0;
  width: 250px;
}

.messages {
  background: #fff none repeat scroll 0 0;
  border-radius: 5px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 150px;
  width: 243px;
}
.messages.error{
  color: red;
}
ul{margin: 0;}
li{
  margin:0 0 10px 15px;
}
