ul.tabs.primary{position:fixed;left:0;top:25%;border:0;padding:0;margin:0;border-radius:0 6px 6px 0;overflow:hidden;box-shadow:1px 0px 3px rgba(20,20,20,1); z-index: 100;}
ul.tabs.primary .active a,.tabs ul.tabs.primary  a,.tabs ul.tabs.primary  a:hover{border:0;border-bottom:1px dotted #000;text-align:center;padding:0;margin:0;font-size:10px;display:block;padding:2px 5px 3px;text-decoration:underline;background-color:#fff;color:#000}
ul.tabs.primary li{padding: 0;margin:0;background: none; display:block; float: none;}
ul.tabs.primary li:last-child a{border:0}
ul.tabs.primary .active a{font-weight:700}
ul.tabs.primary .active a,.tabs.primary a:hover{text-decoration:none}