#autocomplete li {
  cursor: default;
  padding: 5px;
  margin: 0;
  max-width: 100%;
  white-space: normal;

}
#autocomplete li.selected{
  background: #027ac6;
  color: #fff;

}
#vadmin-content-search-filter #autocomplete li{
  padding: 0;
  border-bottom: 1px dotted #000;
}
#vadmin-content-search-filter #autocomplete li.selected a{
  padding: 5px;
  display: block;
}
#vadmin-content-search-filter #autocomplete li.selected a:hover{
  text-decoration: none;
}